[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "circlizePlus"]
	path = circlizePlus
	url = https://github.com/tianzelab/circlizeplus
